.modal {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  background-color: rgb(117, 116, 116);
  position: relative;
  z-index: 2;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

